venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

.git/
.gitignore

notebooks/checkpoints/rnn/
notebooks/checkpoints/lstm/
notebooks/checkpoints/bilstm/
notebooks/checkpoints/transformer/

models/
logs/

experiments/

data/
*.csv

*.ipynb